.button-modal
  background-color #65b2e4
  color #fff
  margin 7px auto 0 auto
  display inline-block
  text-decoration none
  padding 10px 98px
  font-size 25px
  text-transform uppercase
  border 1px solid #65b2e4
  -webkit-transition-property background
  -webkit-transition-duration 0.5s
  -webkit-transition-timing-function ease
  &:hover
    cursor pointer
    background-color #eff7fc
    border 1px solid #65b2e4
    color #65b2e4
    -webkit-transition-property background
    -webkit-transition-duration 0.2s
    -webkit-transition-timing-function ease
  &:focus
    outline none
  @media (max-width: 800px)
    padding 10px 50px